h1, 
h2, 
h3, 
h4, 
h5, 
h6 { font-family: 'NanumSquare', sans-serif ;
    color: red;
 }    /* ; 붙이는건 먼저 우선 적용하라는 거 */
p.subtitle { font-family: 'Noto Sans KR', sans-serif;
}

.main-text {
 font-weight: 200;
 font-size: 20 px;
}